@import url(m_style.css);
.cen {
  margin: 0 auto;
}
html body {
  width: 100%;
}
.header {
  background: #f2f2f2;
}
.header .navbar {
  margin-bottom: 0px;
  background: none;
  border: none;
}
.header .navbar .navbar-header a img {
  padding-top: 10px;
  padding-left: 50px;
}
.header .navbar .collapse {
  padding-right: 50px;
}
.header .navbar .collapse ul li a {
  color: #848484;
  padding: 26px 19px;
  font-size: 17px;
}
.header .navbar .collapse ul li .a1 {
  color: #5ebcd4;
}
.nav img {
  width: 100%;
}
.s1 {
  background: #f8f7f2;
  padding: 126px 0 30px;
}
.s1 .row .col-md-3 h1 {
  font-size: 37px;
  color: #787775;
}
.s1 .row .col-md-3 h1 span {
  display: inline-block;
  border-bottom: 2px solid #42a29b ;
}
.s1 .row .col-md-3 p {
  font-size: 15px;
  color: #868782;
  line-height: 27px;
}
.s1 .row .col-md-7 img {
  max-width: 100%;
}
.s1 .row .col-xs-1 {
  padding-top: 10%;
  color: #37a991;
  font-size: 21px;
}
.s1 h3 {
  color: #666666;
  margin-left: 50px;
  padding: 37px 0 7px;
}
.s1 a {
  display: inline-block;
  margin: 10px;
  padding: 11px 22px;
  border: 2px solid white;
}
.s1 a img {
  max-width: 100%;
}
.s1 .a2 {
  border: 2px solid #42a29b;
  margin-left: 40px;
}
.s1 a:hover {
  border: 2px solid #42a29b;
}
.s2 {
  padding: 40px 0 70px;
}
.s2 .row .col-md-6 img {
  margin-top: 15px;
  max-width: 100%;
}
.s2 .row .btn {
  border: 1px solid #3aab96;
  color: #3aab96;
  font-size: 16px;
  border-radius: 20px;
  margin-top: 5%;
}
.s3 {
  background: url(../img/8.png) no-repeat;
  background-size: 100% ;
  background: cover;
}
.s3 .row .col-sm-3 img {
  max-width: 100%;
}
.s3 .row .col-sm-3 h3 {
  padding-top: 10px;
  font-size: 16px;
  color: white;
  line-height: 24px;
}
.s3 .row .col-sm-3 p {
  color: white;
  line-height: 24px;
  padding: 10px 0;
}
.s3 .row .col-sm-3 h5 {
  color: #99a8b1;
  font-size: 10px;
  padding-bottom: 60px;
}
.s4 .btn {
  border: 1px solid #ffde7b;
  font-size: 16px;
  border-radius: 20px;
  margin-top: 8%;
}
.s4 .col-sm-6 {
  border-right: 1px solid #c4e5de ;
}
.s4 .col-sm-6 .box1 {
  border: 1px solid #CCCCCC;
  border-radius: 10px ;
}
.s4 .col-sm-6 .box1 img {
  width: 100%;
  padding-bottom: 10px;
}
.s4 .col-sm-6 .box1 h4 {
  color: #999999;
  padding: 17px 0;
}
.s4 .col-sm-6 .box1 .a5 {
  border-radius: 10px ;
  padding-right: 100px;
}
.s4 .col-sm-6 .box1 .a5 h5 {
  font-size: 10px;
  color: #999999;
}
.s4 .col-sm-6 .box2 {
  border: 1px solid #CCCCCC;
  border-radius: 10px ;
  margin: 56px 0;
}
.s4 .col-sm-6 .box2 h4 {
  color: #666666;
  padding-bottom: 10px;
}
.s4 .col-sm-6 .box2 p {
  text-align: left;
  padding: 0 15%;
  color: #999999;
  line-height: 24px;
}
.s4 .a3 {
  margin-top: 80px;
  border-right: none ;
}
.s4 .btn {
  border: 1px solid #3aab96;
  color: #3aab96;
  font-size: 16px;
  border-radius: 20px;
  margin-top: 5%;
}
.s5 {
  margin-top: 70px;
}
.s5 .col-sm-3 {
  padding: 0 0 0 0;
}
.s5 .col-sm-3 img {
  max-width: 100%;
  padding: 56px 60px;
  border-bottom: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
}
.s6 {
  margin-top: -70px;
  padding: 200px 0;
  background: url(../img/11.png) no-repeat;
  max-width: 100%;
}
.s7 {
  padding: 30px;
}
.s7 h3 {
  font-size: 18px;
}
.s7 ul {
  margin-top: 21px;
}
.s7 ul li {
  float: left;
  margin-right: 79px;
  color: #999999;
}
.s8 {
  background: #ecf0f3;
  padding: 37px 0;
}
.s8 h3 {
  color: #8e9092;
}
.s8 h4 {
  margin-top: 10px;
  color: #8e9092;
}
@media (max-width: 1010px) {
  .header .navbar {
    margin-bottom: 0px;
  }
  .header .navbar .navbar-header a img {
    padding-left: 0px;
  }
  .header .navbar .collapse {
    padding-right: 0px;
  }
}
@media (max-width: 1000px) {
  .s1 .row .col-xs-1 {
    display: none;
  }
}
@media (max-width: 600px) {
  .s1 h3 {
    display: none;
  }
  .s1 a {
    padding: 5px 2px;
    margin: 2px;
  }
  .s1 .a2 {
    margin-left: 0px;
  }
}
@media (max-width: 360px) {
  .navbar-brand {
    padding: 8px 15px;
  }
  .s3 .row h3 {
    padding-top: 5px;
  }
  .s3 .row p {
    display: none;
  }
  .s5 .col-sm-3 img {
    padding: 5px;
  }
}
